@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #1F2141;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6rem;
}

.promodoro_container {
    max-width: 800px;
    min-width: 600px;
    text-align: center;
    color: white;
}


.clock_length_control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5rem;

    svg {
        cursor: pointer;
    }

    .break_length {
        text-align: center;
    }

    .length_control_container {
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            margin: 0 10px;
        }
    }
}

.session_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-radius: 10rem;
    margin: 1rem 0;
}

.timerControl {
    span {
        margin: 0 10px;
        cursor: pointer;
    }
}

.timeLeft {
    border-radius: 50%;
    border: 2rem solid #23264A;
    box-shadow: 0px 3px 171px 9px rgba(39,42,82,0.72);
    -webkit-box-shadow: 0px 3px 171px 9px rgba(39,42,82,0.72);
    -moz-box-shadow: 0px 3px 171px 9px rgba(39,42,82,0.72);

     div {
        font-size: 2rem;
    }
}